@import "tailwindcss";

@theme {
  --color-darker-green: #063C1A;
  --color-lighter-green: #13562C;
  --color-superlight-green: #F8FEF9;
}

@variant dark (&:is(.dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #F8FEF9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111827;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #54966D;
  cursor: pointer;
  transition: border-color 0.25s;
  height: fit-content;
  width: fit-content;
}
button:hover {
  background-color: #5ca377;
}

button2 {
  border-radius: 8px;
  border: 13px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #54966D;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 25px;
  width: 200px;
  margin-left: 15%;
}

button2:hover {
  background-color: #5ca377;
}

/* Material Symbols Icons */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

